html,
body {
  margin: 0px;
  background-color: rgb(231, 231, 231);
}

.flex_row {
  display: flex;
}

.flex_row > div {
  margin-left: 10px;
}

.nav_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav_title {
  font-size: large;
  color: white;
}

.nav_background {
  background-color: #777;
}

/* 드롭박스 구현 수정 */
.nav_dropbox:hover .nav_dropbox > div {
  display: block;
}

.nav_dropbox_title {
  text-align: center;
}

.nav_dropbox > div {
  position: absolute;
  margin-bottom: 5px;
}

.nav_dropbox > div > a {
  display: none;
}

.hidden {
  display: hidden;
}

.main_back_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_layout {
  width: 1000px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.titlelist_layout {
  width: 550px;
  background-color: white;
  border-radius: 15px;
}

.titleList_title {
  display: block;
}

.postlist_layout {
  margin-left: 30px;
}

.mainpost_layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainpost_layout > div {
  margin: 10px;
  width: 30%;
}

.mainpost_content {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
}

.mainpost_content > img {
  border-radius: 5px;
  display: block;
  width: 90%;
  margin: auto;
}

.mainpost_content > hr {
  margin: 5px;
  color: black;
}

.copylight_layout {
  text-align: center;
}
