.flex_row {
  display: flex;
}

.flex_row > div {
  margin-left: 10px;
}

.post_right {
  width: 70%;
}

.post_left {
  width: 30%;
}

.postpart {
  background-color: white;
  border-radius: 15px;
}

.postpart > h1 {
  text-align: center;
}
